.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.env.*
!.env.example
!.env.swarm.example
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
terraform.tfvars.json
