GRAFANA_OTLP_ENDPOINT=https://otlp-gateway-prod-us-west-0.grafana.net/otlp
GRAFANA_LOKI_ENDPOINT=https://logs-prod-000.grafana.net/loki/api/v1/push
GRAFANA_INSTANCE_ID=000000
GRAFANA_LOKI_INSTANCE_ID=000000
MCAD_OBSERVABILITY_NETWORK=mcad-observability-net
MCAD_OBSERVABILITY_ALLOY_CONFIG=mcad_observability_alloy_config
MCAD_OBSERVABILITY_GRAFANA_TOKEN_SECRET=mcad_observability_grafana_token
